body {
  margin: 0;
  line-height: normal;
}
.copyright-ignacio-leal-20221 {
  position: absolute;
  top: 195px;
  left: calc(50% - 79px);
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 17px;
}
.div4,
.terms-of-service1 {
  position: relative;
  display: inline-block;
}
.terms-of-service1 {
  text-decoration: underline;
}
.div4 {
  font-size: var(--font-size-lg);
  color: var(--text-white);
}
.terms-and-conditions1 {
  position: absolute;
  top: 147px;
  left: calc(50% - 128px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-gray-300);
}
.home17 {
  position: absolute;
  top: 23.81%;
  left: 23.68%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
  display: inline-block;
}
.home16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 76px;
  height: 42px;
  flex-shrink: 0;
}
.div5,
.home19 {
  position: relative;
  display: inline-block;
}
.home19 {
  position: absolute;
  top: 23.81%;
  left: 19.72%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--olive-green-highlight);
  text-align: center;
}
.home18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 137px;
  height: 42px;
  flex-shrink: 0;
}
.home21 {
  position: absolute;
  top: 23.81%;
  left: 26.3%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
  display: inline-block;
}
.home20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 71px;
  height: 42px;
  flex-shrink: 0;
}
.home23 {
  position: absolute;
  top: 23.81%;
  left: 21.96%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
  display: inline-block;
}
.home22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 91px;
  height: 42px;
  flex-shrink: 0;
}
.footer1 {
  position: absolute;
  top: 23px;
  left: calc(50% - 288px);
  width: 576px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
  font-size: var(--font-size-2xl);
  color: var(--text-white);
}
.footer-section1 {
  position: absolute;
  height: 20.56%;
  width: 100%;
  top: 79.44%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--footer-background);
  text-align: center;
}

.rectangle-div-members,
.members-purchase-button {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--olive-dark-green);
  height: 330px;
}
.members-purchase-button {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-lg);
  background-color: var(--non-vibrant-white);
}
.purchase-text {
  position: absolute;
  top: 20.45%;
  left: 39.1%;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-karma);
  color: var(--olive-green);
  text-align: left;
}
.call-to-action-member1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 74.68%;
  top: 268px;
  right: 12.75%;
  left: 12.57%;
  height: 42px;
}
.simple-title {
  position: absolute;
  top: 28px;
  left: calc(50% - 45px);
  display: flex;
  align-items: center;
  width: 91px;
  height: 44px;
}
.simple-perk1 {
  position: absolute;
  top: 162px;
  left: 19%;
  right: 19%;
  font-size: var(--font-size-base);
  display: inline-block;
}
.monthly-price-simbols {
  font-size: var(--font-size-2xl);
}
.month {
  font-size: var(--font-size-xl);
}
.month6 {
  position: absolute;
  top: 72px;
  left: calc(50% - 63px);
  display: inline-block;
  font-size: var(--font-size-4xl);
}
.simple-div {
  position: absolute;
  top: 0;
  left: 0;
}
.simple-div {
  width: 29.99%;
  right: 70.01%;
  height: 330px;
  font-size: var(--font-size-2xl);
}

.call-to-action-member2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 74.68%;
  top: 377px;
  right: 12.78%;
  left: 12.54%;
  height: 42px;
}
.economic-perks1{
  position: absolute;
  top: 36.9%;
  left: 19%;
  right: 19%;
  display: inline-block;
}
.economic-perks2 {
  position: absolute;
  top: 48.75%;
  left: 19%;
  right: 19%;
  display: inline-block;
}
.economic-perks3 {
  position: absolute;
  top: 60.59%;
  left: 19%;
  right: 19%;
  display: inline-block;
  font-size: var(--font-size-xl);
}
.economic-perks3-text {
  font-size: var(--font-size-base);
}
.economic-perks4 {
  position: absolute;
  top: 72.44%;
  left: 18.24%;
  display: inline-block;
}

.economic-title {
  position: absolute;
  top: 28px;
  left: calc(50% - 65.45px);
  font-size: var(--font-size-2xl);
  display: flex;
  align-items: center;
  width: 130px;
  height: 44px;
}
.month-txt1 {
  line-break: anywhere;
  width: 100%;
}
.monthly-price {
  position: absolute;
  top: 72px;
  left: calc(50% - 63.45px);
  display: flex;
  align-items: center;
  width: 126px;
  height: 58px;
  font-size: var(--font-size-4xl);
}
.members-vector-icon{
  position: absolute;
  width: 100%;
  top: 132px;
  right: 0;
  left: 0.26%;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
}
.economic-div {
  position: absolute;
  width: 30.07%;
  top: 0;
  right: 34.71%;
  left: 35.22%;
  background-color: var(--olive-dark-green);
  height: 439px;
  color: var(--text-white);
}
.call-to-action-member3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 82.57%;
  top: 268px;
  right: 8.57%;
  left: 8.86%;
  height: 42px;
}
.premium-perks2 {
  position: absolute;
  top: 216px;
  left: 19%;
  right: 19%;
  display: inline-block;
}
.premium-title {
  position: absolute;
  top: 28px;
  left: calc(50% - 62px);
  font-size: var(--font-size-2xl);
  display: flex;
  align-items: center;
  width: 125px;
  height: 44px;
}
.premium-perks1{
  position: absolute;
  top: 162px;
  left: 19%;
  right: 19%;
  display: inline-block;
}

.memberships,
.premium-div {
  position: absolute;
}
.premium-div {
  width: 29.99%;
  top: 0;
  right: 0;
  left: 70.01%;
  height: 330px;
}
.memberships {
  width: 81.04%;
  top: 365px;
  right: 9.44%;
  left: 9.51%;
  height: 439px;
  font-size: var(--font-size-base);
  color: var(--non-vibrant-white);
}
.memberships-title {
  position: absolute;
  top: 221px;
  left: calc(50% - 117px);
  font-size: var(--font-size-4xl);
  display: inline-block;
}
.leal1,
.memberships-title {
  color: var(--text-white);
}
.mora1 {
  color: var(--olive-green);
}
.lealmora1 {
  position: absolute;
  top: 0;
  left: 48px;
  font-size: var(--font-size-4xl);
  font-family: var(--font-karma);
  text-align: left;
  display: inline-block;
}
.fluent-emoji-flatolive-icon1 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.logo1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 58px;
}
.home25 {
  left: 15.79%;
}
.home25,
.home27,
.home29,
.home31 {
  position: absolute;
  top: 16.67%;
  font-size: var(--font-size-xl);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
  display: inline-block;
}
.home25:hover, .home27:hover, .home29:hover, .home31:hover{
  color: var(--olive-green-highlight);
}
.home27 {
  left: 9.5%;
}
.home29 {
  left: 17.85%;
}
.home31 {
  left: 12.07%;
}
.menu1 {
  position: absolute;
  top: 8px;
  right: 0;
  width: 530px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
  justify-content: right;
}
.navigation1 {
  position: absolute;
  width: 83.19%;
  top: 56px;
  right: 8.4%;
  left: 8.4%;
  height: 58px;
}
.members {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1221px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-karma);
}
