body {
  margin: 0;
  line-height: normal;
}
.copyright-ignacio-leal-20225 {
  position: absolute;
  top: 195px;
  left: calc(50% - 79px);
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 17px;
}
.div23,
.terms-of-service5 {
  position: relative;
  display: inline-block;
}
.terms-of-service5 {
  text-decoration: underline;
}
.div23 {
  font-size: var(--font-size-lg);
  color: var(--text-white);
}
.terms-and-conditions5 {
  position: absolute;
  top: 147px;
  left: calc(50% - 128px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-gray-300);
}
.home81 {
  position: absolute;
  top: 23.81%;
  left: 23.68%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
  display: inline-block;
}
.home80 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 76px;
  height: 42px;
  flex-shrink: 0;
}
.div24,
.home83 {
  position: relative;
  display: inline-block;
}
.home83 {
  position: absolute;
  top: 23.81%;
  left: 19.72%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
}
.home82 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 137px;
  height: 42px;
  flex-shrink: 0;
}
.home85 {
  position: absolute;
  top: 23.81%;
  left: 26.3%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--olive-green-highlight);
  text-align: center;
  display: inline-block;
}
.home84 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 71px;
  height: 42px;
  flex-shrink: 0;
}
.home87 {
  position: absolute;
  top: 23.81%;
  left: 21.96%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
  display: inline-block;
}
.home86 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 91px;
  height: 42px;
  flex-shrink: 0;
}
.footer5 {
  position: absolute;
  top: 23px;
  left: calc(50% - 288px);
  width: 576px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
  font-size: var(--font-size-2xl);
  color: var(--text-white);
}
.footer-section5 {
  position: absolute;
  width: 100%;
  top: 1340px;
  right: 0;
  left: 0;
  background-color: var(--footer-background);
  height: 270px;
}
.leal5 {
  color: var(--text-white);
}
.mora5 {
  color: var(--olive-green);
}
.lealmora5 {
  position: absolute;
  top: 0;
  left: 48px;
  font-size: var(--font-size-4xl);
  font-family: var(--font-karma);
  text-align: left;
  display: inline-block;
}
.fluent-emoji-flatolive-icon5 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.logo5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 1px;
  width: 208px;
  height: 58px;
}
.home89 {
  left: 15.79%;
}
.home89,
.home91,
.home93,
.home95 {
  position: absolute;
  top: 16.67%;
  font-size: var(--font-size-xl);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
  display: inline-block;
}
.home91 {
  left: 9.5%;
}
.home93 {
  left: 17.85%;
}
.home95 {
  left: 12.07%;
}
.rectangle-div17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--olive-green);
}
.sign-up5 {
  position: absolute;
  height: 64.71%;
  width: 80.42%;
  top: 17.65%;
  left: 9.79%;
  font-size: var(--font-size-xl);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 113px;
  height: 41px;
  flex-shrink: 0;
}
.menu5 {
  position: absolute;
  top: 8px;
  right: 1px;
  width: 530px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
  cursor: pointer;
}
.navigation5 {
  position: absolute;
  width: 83.33%;
  top: 56px;
  right: 8.33%;
  left: 8.33%;
  height: 58px;
}
.bottle-5-icon1 {
  left: 0;
}
.bottle-5-icon1,
.product-image,
.product-image1 {
  position: absolute;
  width: 216.41px;
  height: 550px;
}
.product-image1 {
  left: 0;
}
.bottle-5-icon1 {
  top: 0;
  object-fit: cover;
}
.product-image1 {
  top: -12px;
}
.product-image {
  top: 231px;
  left: 242px;
}
.olive-oil-is-one-of-the-tastye {
  position: absolute;
  top: 256px;
  left: calc(50% - 261.59px);
  font-size: var(--font-size-base);
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 526px;
  height: 86px;
}
.see-in-membership {
  position: absolute;
  top: 22px;
  left: 7px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 20px;
  display: inline-block;
  font-family: var(--font-karma);
  color: var(--olive-green);
  text-align: left;
}
.see-membership {
  cursor: pointer;
  border: 1px solid var(--olive-green);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 404px;
  left: calc(50% - 264.59px);
  border-radius: var(--br-md);
  box-sizing: border-box;
  width: 195px;
  height: 58px;
}
.discount {
  position: absolute;
  top: 61.63px;
  left: 112.58px;
  font-weight: 300;
  display: inline-block;
}
.span12 {
  font-size: var(--font-size-4xl);
}
.b,
.price {
  position: absolute;
}
.b {
  top: -16px;
  left: 0;
  display: inline-block;
  font-family: var(--font-karma);
  color: var(--color-gold);
  font-size: var(--font-size-5xl);
}
.price {
  top: 135.37px;
  left: calc(50% - 251.17px);
  width: 112.58px;
  height: 130px;
  font-family: var(--font-roboto);
}
.a {
  text-transform: uppercase;
}
.ppellation-of {
  text-transform: lowercase;
}
.appellation-of-origin-container {
  line-break: anywhere;
  width: 100%;
}
.appellation-of-origin-jan {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 42px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 193px;
  height: 20px;
}
.vector-icon6 {
  position: absolute;
  top: calc(50% - 11.61px);
  left: calc(50% + 88.5px);
  width: 22px;
  height: 19.5px;
}
.denominacion-de-origen {
  position: absolute;
  top: 90px;
  left: calc(50% - 262.59px);
  width: 221px;
  height: 26px;
  color: var(--olive-green);
}
.virgin-extra-olive-oil-250ml-b {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 42px;
  display: inline-block;
}
.product-title {
  position: absolute;
  top: 0;
  left: calc(50% - 264.41px);
  width: 529px;
  height: 42px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-200);
}
.purchase7 {
  position: absolute;
  top: 22px;
  left: 42px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 20px;
  display: inline-block;
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: left;
}
.purchase6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--olive-green);
  position: absolute;
  top: 404px;
  left: calc(50% - 57.59px);
  border-radius: var(--br-md);
  width: 170px;
  height: 58px;
}
.product-info,
.right-side {
  position: absolute;
  height: 462px;
}
.right-side {
  top: 0;
  left: calc(50% - 326.97px);
  width: 529.18px;
}
.product-info {
  width: calc(100% - 786.06px);
  top: 259px;
  right: 56.06px;
  left: 730px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text-white);
}
.bottle-6-icon1 {
  position: relative;
  width: 90px;
  height: 273px;
  flex-shrink: 0;
  object-fit: cover;
}
.div27,
.virgin-extra-olive-oil-bottle3 {
  position: absolute;
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.virgin-extra-olive-oil-bottle3 {
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
}
.div27 {
  top: 28px;
  left: 83px;
  font-size: var(--font-size-xl);
}
.pricetag1 {
  position: absolute;
  top: 3px;
  left: 33px;
  width: 194px;
  height: 57px;
}
.price-tag-1l1 {
  position: relative;
  width: 259px;
  height: 67px;
  flex-shrink: 0;
}
.bottle-1l1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 366.5px);
  width: 295px;
  height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.bottle-7-icon1 {
  position: relative;
  width: 91px;
  height: 278px;
  flex-shrink: 0;
  object-fit: cover;
}
.div28 {
  position: absolute;
  top: 28px;
  left: 89px;
  font-size: var(--font-size-xl);
  font-family: var(--font-karma);
  color: var(--text-white);
  text-align: left;
  display: inline-block;
}
.price-tag2 {
  position: relative;
  width: 205px;
  height: 57px;
  flex-shrink: 0;
}
.price-tag-05l2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottle-05l1,
.frame-div1 {
  position: absolute;
  height: 415px;
}
.bottle-05l1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: calc(50% + 71.5px);
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.frame-div1 {
  width: 50.9%;
  top: 874px;
  right: 24.51%;
  left: 24.58%;
}
.product-1 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1607px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-karma);
}
