:root {
  /* fonts */
  --font-karma: Karma;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 12px;
  --font-size-base: 15px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-2xl: 30px;
  --font-size-3xl: 32px;
  --font-size-4xl: 40px;
  --font-size-5xl: 100px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --olive-green: #757400;
  --non-vibrant-white: #ddd;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #d1d1d1;
  --color-gray-400: #a7a7a7;
  --color-gray-500: #8e8e8e;
  --imput-field-gray: #626262;
  --olive-dark-green: #352d00;
  --color-gray-800: #161616;
  --olive-green-highlight: #fffd00;
  --color-gold: #c5c300;

  /* Gaps */
  --gap-2xs: 1px;
  --gap-xs: 10px;
  --gap-sm: 20px;
  --gap-md: 30px;
  --gap-lg: 45px;
  --gap-xl: 143px;
  --gap-2xl: 460px;

  /* border radiuses */
  --br-sm: 4px;
  --br-md: 5px;
  --br-lg: 7px;
}
