body {
  margin: 0;
  line-height: normal;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-800);
  width: 1440px;
  height: 268px;
}
.copyright-ignacio-leal-2022 {
  position: absolute;
  top: 212px;
  left: 641px;
  text-decoration: underline;
  display: inline-block;
}
.div,
.terms-of-service {
  position: relative;
  display: inline-block;
}
.terms-of-service {
  text-decoration: underline;
}
.div {
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.terms-and-conditions {
  position: absolute;
  top: 164px;
  left: 592px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  color: var(--color-gray-400);
}
.home-div1 {
  position: absolute;
  top: 23.81%;
  left: 23.68%;
  display: inline-block;
}
.home-div {
  position: relative;
  width: 76px;
  height: 42px;
  flex-shrink: 0;
  font-size: var(--font-size-base);
  color: var(--olive-green-highlight);
}
.div1,
.home-div2 {
  position: relative;
  display: inline-block;
}
.home-div2 {
  position: absolute;
  top: 23.81%;
  left: 19.72%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--color-white);
  text-align: center;
}
.home-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 137px;
  height: 42px;
  flex-shrink: 0;
}
.home-div3 {
  position: absolute;
  top: 23.81%;
  left: 26.3%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.home-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 71px;
  height: 42px;
  flex-shrink: 0;
}
.home-div4 {
  position: absolute;
  top: 23.81%;
  left: 21.96%;
  font-size: var(--font-size-base);
  font-family: var(--font-karma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.home-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 91px;
  height: 42px;
  flex-shrink: 0;
}
.footer-div {
  position: absolute;
  top: 40px;
  left: 432px;
  width: 576px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.footer-section-div {
  position: absolute;
  top: 2748px;
  left: 0;
  width: 1440px;
  height: 268px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.rectangle-div1,
.rectangle-div2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--olive-dark-green);
  width: 350px;
  height: 330px;
}
.rectangle-div2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-lg);
  background-color: var(--non-vibrant-white);
}
.purchase-b {
  position: absolute;
  top: 20.45%;
  left: 39.1%;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-karma);
  color: var(--olive-green);
  text-align: left;
}
.call-to-action {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 268px;
  left: 44px;
  width: 261.37px;
  height: 42px;
}
.bottle-per-month-of-choosen-oi,
.simple-div1 {
  position: absolute;
  top: 28px;
  left: 130px;
  display: inline-block;
}
.bottle-per-month-of-choosen-oi {
  top: 162px;
  left: 67px;
  font-size: var(--font-size-base);
}
.span {
  font-size: var(--font-size-2xl);
}
.month-span {
  font-size: var(--font-size-xl);
}
.month-div {
  position: absolute;
  top: 72px;
  left: 112px;
  display: inline-block;
  font-size: var(--font-size-4xl);
}
.vector-icon {
  position: absolute;
  top: 132px;
  left: 0;
  width: 350px;
  height: 1px;
}
.rectangle-div3,
.simple-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
}
.simple-div {
  height: 330px;
  font-size: var(--font-size-2xl);
}
.rectangle-div3 {
  border-radius: var(--br-md);
  background-color: var(--olive-dark-green);
  height: 439px;
}
.call-to-action1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 377px;
  left: 44px;
  width: 262.05px;
  height: 42px;
}
.tasting-kit-div {
  position: absolute;
  top: 162px;
  left: 137px;
  display: inline-block;
}
.bottle-per-month-of-choosen-oi1,
.recipy-book-for-cooking-with-o {
  position: absolute;
  top: 214px;
  left: 67px;
  display: inline-block;
}
.recipy-book-for-cooking-with-o {
  top: 266px;
  left: 66px;
  text-align: center;
}
.off-in-oils {
  font-size: var(--font-size-base);
}
.economic-div1,
.off-in-oils-skincare-products {
  position: absolute;
  top: 318px;
  left: 64px;
  display: inline-block;
  font-size: var(--font-size-xl);
}
.economic-div1 {
  top: 28px;
  left: 110px;
  font-size: var(--font-size-2xl);
}
.economic-div,
.vector-icon1 {
  position: absolute;
  top: 132px;
  left: 0.91px;
  width: 350px;
  height: 1px;
}
.economic-div {
  top: 0;
  left: 411px;
  width: 350.91px;
  height: 439px;
  color: var(--color-white);
}
.call-to-action2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 268px;
  left: 31px;
  width: 289px;
  height: 42px;
}
.all-economic-perks,
.premium-div1 {
  position: absolute;
  top: 216px;
  left: 113px;
  display: inline-block;
}
.premium-div1 {
  top: 28px;
  font-size: var(--font-size-2xl);
}
.bottle-per-week-of-choosen-oil {
  position: absolute;
  top: 162px;
  left: 72px;
  display: inline-block;
}
.vector-icon2 {
  position: absolute;
  top: 131.5px;
  left: 0;
  width: 350px;
  height: 1px;
}
.memberships-div,
.premium-div {
  position: absolute;
  top: 0;
  left: 817px;
  width: 350px;
  height: 330px;
}
.memberships-div {
  top: 1100px;
  left: 137px;
  width: 1167px;
  height: 439px;
  font-size: var(--font-size-base);
  color: var(--non-vibrant-white);
}
.memberships-div1,
.products-div {
  position: absolute;
  top: 956px;
  left: 603px;
  display: inline-block;
}
.products-div {
  top: 1739px;
  left: 644px;
}
.rama-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1426.39px;
  object-fit: cover;
}
.help-your-health-help-your-se {
  position: absolute;
  top: 340px;
  left: 802px;
  font-size: var(--font-size-2xl);
  text-align: center;
  display: inline-block;
}
.the-best-way {
  margin-block-start: 0;
  margin-block-end: 0;
}
.with-spanish-apellation {
  margin: 0;
}
.the-best-way-to-cosume-carbs-i {
  position: absolute;
  top: 384px;
  left: 802px;
  font-size: var(--font-size-base);
  display: inline-block;
}
.mora-span {
  color: var(--olive-green);
}
.lealmora-div {
  position: absolute;
  top: 0;
  left: 48px;
  display: inline-block;
}
.fluent-emoji-flatolive-icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.logo-div {
  position: relative;
  width: 208px;
  height: 58px;
  flex-shrink: 0;
}
.home-div6 {
  position: absolute;
  top: 16.67%;
  left: 15.79%;
  display: inline-block;
}
.home-div5 {
  position: relative;
  width: 76px;
  height: 42px;
  flex-shrink: 0;
}
.home-div8 {
  position: absolute;
  top: 16.67%;
  left: 9.5%;
  display: inline-block;
}
.home-div7 {
  position: relative;
  width: 137px;
  height: 42px;
  flex-shrink: 0;
}
.home-div11,
.home-div9 {
  position: absolute;
  top: 16.67%;
  display: inline-block;
}
.home-div9 {
  left: 17.85%;
  font-size: var(--font-size-xl);
  font-family: var(--font-karma);
  color: var(--color-white);
  text-align: center;
}
.home-div11 {
  left: 12.07%;
}
.home-div10 {
  position: relative;
  width: 91px;
  height: 42px;
  flex-shrink: 0;
}
.rectangle-div7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--olive-green);
}
.sign-up-div {
  position: absolute;
  height: 64.71%;
  width: 80.42%;
  top: 17.65%;
  left: 9.79%;
  font-size: var(--font-size-xl);
  font-family: var(--font-karma);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-1-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 113px;
  height: 41px;
  flex-shrink: 0;
}
.menu-div,
.navigation-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-div {
  width: 530px;
  flex-shrink: 0;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-xl);
}
.navigation-div {
  position: absolute;
  top: 56px;
  left: 120px;
  width: 1200px;
  gap: var(--gap-2xl);
}
.bottle-4-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  width: 142px;
  flex-shrink: 0;
  background-image: url(./public/bottle4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.bottle-6-button {
  align-self: stretch;
  width: 150px;
  background-image: url(./public/bottle6@3x.png);
}
.bottle-5-button,
.bottle-6-button,
.bottle-7-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.bottle-5-button {
  width: 177px;
  height: 426px;
  background-image: url(./public/bottle5@3x.png);
}
.bottle-7-button {
  align-self: stretch;
  width: 141px;
  background-image: url(./public/bottle7@3x.png);
}
.frame-div {
  position: absolute;
  top: 1940px;
  left: 258px;
  width: 925px;
  height: 426px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.index-div {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3016px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-karma);
}
